<% bookCoverClass = locals.large ? 'book-cover-large' : '' %> <% bookGridClass =
locals.large ? 'book-grid-large' : '' %>

<div class="book-grid <%= bookGridClass %>">
  <% books.forEach(book => { %>
  <a href="/books/<%= book.id %>">
    <img
      src="<%= book.coverImagePath %>"
      alt=""
      class="book-cover <%= bookCoverClass %>"
    />
  </a>
  <% }) %>
</div>
